<main class="row">
  <div class="col calendar-page-body">
    <%= SimpleCalendar::ScoreCalendar.new(self, {events: @scores, second_events: @schedules, second_attribute: :work_on}).render do |date, events| %>
      <div><%= date.strftime('%-m/%-d') %></div>
      <% events.each do |event| %>
        <% if event.is_a? Score %>
          <% if event.score > 0 %>
            <div class="score-in-td">
              <%= event.score %>
            </div>
          <% end %>
          <% if event.score_details.present? %>
            <i class="fas fa-circle fa-xs score-detail-mark"></i>
          <% end %>
        <% elsif event.is_a? Schedule %>
          <i class="fas fa-circle fa-xs schedule-mark"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</main>

<%= javascript_pack_tag 'scores/index_pack' %>
