<main class="row">
  <div class="col">
    <%= SimpleCalendar::CustomLengthCalendar.new(self, {events: @scores}).render do |date, scores| %>
      <%= date.strftime('%-m/%-d') %>
      <% scores.each do |score| %>
        <div class="score_in_td">
          <%= score.score %>
        </div>
      <% end %>
    <% end %>
  </div>
</main>