<body>
  <button id="pickup" style="font-size: 50px">pickup</button>
  <button id="dropoff" style="font-size: 50px">dropoff</button>
  <div class="extra-fee"></div>
  <div class="meter">メーター料金: 0円</div>

  <table border="1">
    <tbody class="lists">
      <%= render @score_details %>
    </tbody>
  </table>

  <%= javascript_pack_tag 'score_details/index_pack' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
</body>
</html>