<body>
  <div class="texi-meter-buttons row">
    <div class="col-6">
      <button id="pickup" class="btn" style="font-size: 30px">pickup</button>
    </div>
    <div class="col-6">
      <button id="dropoff" class="btn" style="font-size: 30px">dropoff</button>
    </div>
  </div>

  <div class="meter">
    <p class="meter-fare">0</p>
    <p class="meter-yen">円</p>
  </div>

  <div class="row">
    <table border="1" class="score-detail-table col-12">
      <tbody class="lists">
        <%= render @score_details %>
      </tbody>
    </table>
  </div>

  <%= javascript_pack_tag 'score_details/index_pack' %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap"></script>
</body>
</html>