<div class="js-searched-score">
  <p>売上: <%= searched_score.score %> 円</p>
  <p>メモ: <%= searched_score.memo %></p>
  <%= link_to edit_score_path(searched_score, start_date: start_date), class: "edit-button", remote: true do %>
    <span class="fas fa-edit"></span>
  <% end %>
  <%= link_to score_path(searched_score, start_date: start_date), method: :delete, data: { confirm: '売上を削除しますか？ ※日報データがある場合は削除されてしまいます。' }, class: "delete-button", remote: true do %>
    <span class="far fa-trash-alt"></span>
  <% end %>
</div>