html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(243, 243, 243);
}

.navbar {
  .navbar-brand {
    margin: auto auto auto 8px;
    a {
      color: #495057;
    }
  }
  .dropdown-custom.dropdown-menu {
    position: absolute;
    left: initial;
    right: 0;
  }
}

.flash-messages {
  width: max-content;
  margin: auto;
}

.container-xl {
  height: 100%;
}

// ------------------

.form-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .form-area {
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .error-messages-field {
      max-width: 90vw;
      .error-messages {
        text-align: left;
        padding-left: 20px;
      }
    }
    .form-group {
      width: 20rem;
      margin: 0 auto 1rem auto;
      .form-control {
        height: 3rem;
      }
    }
    .btn {
      margin: 1rem 0;
    }
  }
}

.login-page {
  position: relative;
  top: -3rem;
}

@media (max-width: 767px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .form-page {
    .form-area {
      .form-group {
        max-width: 250px;
      }
    }
  }

  .new-score-form {
    margin-top: 0.4rem;
    .btn {
      position: relative;
      z-index: 10;
    }
  }
}