// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
}

.container-xl {
  height: 100%;
}

.form-page {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 330px;
  margin: auto;
  .form-area {
    max-width: 330px;
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    .form-group {
      width: 20rem;
      .form-control {
        height: 3rem;
      }
    }
    .btn {
      width: 100%;
      margin: 1rem 0;
    }
  }
}

.js-new-score-form {
  display: none;
}

.dropdown-custom.dropdown-menu {
  position: absolute;
  left: initial;
  right: 0;
}

.new-score-form {
  text-align: right;
  #score_score::placeholder {
    text-align: right;
  }
}

.simple-calendar {
  .day {
    height: 9vh;
  }

  .day:hover {
    background-color: pink;
  }

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: rgba(58, 56, 56, 0.352);
    a {
      color: rgba(58, 56, 56, 0.352);
    }
  }
  .next-month {
    color: rgba(58, 56, 56, 0.352);
    a {
      color: rgba(58, 56, 56, 0.352);
    }
  }
  .current-month {}

  .has-events {
    div {
      padding-top: 0.7rem;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    th {
      text-align: center;
    }
  }
}

.score-details {
  h3 {
    font-size: 1.2rem;
    font-weight: normal;
    border-bottom: solid 2px rgb(0, 179, 255);
  }
}

@media (max-width: 767px) {
  .form-page {
    .form-area {
      .form-group {
        width: 100%;
      }
    }
  }

  .new-score-form {
    margin-top: 0.4rem;
    .btn {
      position: relative;
      z-index: 10;
    }
  }

  .simple-calendar {
    position: relative;
    top: -1.5rem;
    tbody {
      font-size: 0.7rem;
      a {
        font-size: 0.7rem;
      }
    }
  }

  .score-details {
    position: relative;
    top: -3vh;
    h3 {
      font-size: 1.2rem;
      font-weight: normal;
      border-bottom: solid 2px rgb(0, 179, 255);
    }
  }
}
