// Place all the styles related to the scores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.js-new-score-form {
  display: none;
}

.dropdown-custom.dropdown-menu {
  position: absolute;
  left: initial;
  right: 0;
}

.new_score_form {
  text-align: right;
  // background-color: pink;
  #score_score::placeholder {
    text-align: right;
  }
}

.simple-calendar {
  .day {}

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    color: rgba(58, 56, 56, 0.352);
    a {
      color: rgba(58, 56, 56, 0.352);
    }
  }
  .next-month {
    color: rgba(58, 56, 56, 0.352);
    a {
      color: rgba(58, 56, 56, 0.352);
    }
  }
  .current-month {}

  .has-events {
    div {
      padding-top: 0.7rem;
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
    word-wrap: break-all;
    text-align: center;
    th {
      text-align: center;
    }
  }
}

@media (max-width: 767px) {
  .new_score_form {
    margin-top: 0.4rem;
    .btn {
      position: relative;
      z-index: 10;
    }
  }

  .simple-calendar {
    position: relative;
    top: -1.5rem;
    tbody {
      font-size: 0.7rem;
      a {
        font-size: 0.7rem;
      }
    }
  }
}
